[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urllib3 = "==1.22"
flask = "==0.11.1"
flask-login = "==0.2.11"
flask-script = "==2.0.5"
flask-wtf = "==0.12"
jinja2 = "==2.8"
pycparser = "==2.18"
cffi = ">=1.0.0"
wtforms = "==2.1"
werkzeug = "==0.11.10"
itsdangerous = "==0.24"
python-dateutil = "==2.5.3"
simplejson = "==3.8.2"
six = "==1.10.0"
pillow = "==2.9.0"
kombu = "==4.2.1"
wheezy-captcha = "*"
schedule = "==0.3.2"
flask-sqlalchemy = "~=2.1"
flask-migrate = "==2.1.1"
redis = "==2.10.6"
requests = "==2.19.1"
pypinyin = "==0.31.0"
pycrypto = "==2.6.1"
scandir = "==1.7"
xlsxwriter = ">=0.9.3"
gunicorn = "==19.8.1"
xlrd = "==1.0.0"
flasgger = "==0.8.3"
emails = "==0.5.15"
celery = "==4.2.1"
concurrentloghandler = "==0.9.1"
eventlet = "==0.22.1"
flask-alchemydumps = "==0.0.10"
unipath = "==1.1"
amqp = "==2.3.2"
minio = "*"
dnspython = "==1.15.0"
consulate = "==0.6.0"
mysqlclient = "*"
pymysql = "==0.8.1"
crcmod = "==1.7"
pycryptodome = "==3.6.6"
aliyun-python-sdk-core-v3 = "==2.9.0"
aliyun-python-sdk-kms = "==2.5.0"
oss2 = "==2.5.0"
qiniu = "*"
SQLAlchemy = "~=1.1.0b3"
wheezy = "*"
wheezy-xptcha = "*"
xattr = ">=0.8.0"
pkuseg = "*"

[requires]
python_version = "3.7"
