<div style="background: #ededed; padding-top: 52px; width: 100%;">
    <div class="wrapper" style="background: #fff; width:auto;max-width:600px; margin: auto;border:10px solid #ededed;">
        <div class="container content">
            <div class="row" style="background: #19bc9c; height: 10px;">&nbsp;</div>
            <div class="row" style="text-align: left; padding-left: 10px; padding-bottom: 10px; border-bottom: 1px solid #f4f3f3;margin-bottom:20px;">
                <img class="img-responsive" style="width:40%; max-width: 220px; height: auto; padding-top: 10px; padding-left: 10px;"
                    title="Robot网络" src="http://www.anno.com/skin/new/images/logo2.png" alt="">
            </div>
            <div class="row">
                <div style="position: relative; padding: 5px 50px 10px 50px;">
                    <p style="color: #555; font-size: 14px; line-height: 24px; padding-top: 0px; text-justify: inter-ideograph; text-align: justify; margin-top: 0; margin-bottom: 0;">
                        尊敬的Robot的用户 {{ user.username }}</p>
                    {% block message %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div style="background: #f3f3f3; width: 100%; color: #999; padding-top: 15px; padding-bottom: 15px; font-size: 12px;">
            <div style="padding-left: 24px;">
                官方网站：<a style="color: #999; text-decoration: none;" href="http://www.anno.com/">
            </div>
            <div style="padding-left: 24px;">
                <span><a style="color: #999; text-decoration: none; white-space:nowrap;" href="mailto:service@pgyer.com"
                        target="_blank">客服邮箱：service@@test.vip</a></span>
            </div>
            <div>
                <span style="padding-left: 24px;white-space:nowrap;">服务电话：400-800-8888 </span>
                <span style="float:right;margin-right: 20px;">© 2017 Robot科技</a></span>
            </div>
        </div>

    </div>
</div>